* {
    box-sizing: border-box;
    font-family: prima-sans-mono;
}

@font-face {
    font-family: prima-sans-mono;
    src: url(prima-sans-mono-bold.otf);
}

#navbar {
    height: 100%;
    /* 100% Full-height */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    left: 0;
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding: 30px;
    color: #9A9A9E;
}

#main {
    padding: 30px;
    margin-left: 275px;
    overflow-x: hidden;
}

#introduction p,
#introduction li,
nav a {
    font-family: "Roboto", prima-sans-mono, sans-serif;
}

nav a:nth-of-type(3),
a:nth-of-type(4),
a:nth-of-type(5),
a:nth-of-type(6),
a:nth-of-type(7),
a:nth-of-type(8),
a:nth-of-type(9),
a:nth-of-type(10),
a:nth-of-type(11),
a:nth-of-type(12),
a:nth-of-type(13),
a:nth-of-type(14),
a:nth-of-type(15),
a:nth-of-type(16),
a:nth-of-type(17),
a:nth-of-type(18),
a:nth-of-type(19) {
    padding-left: 20px;
}

nav a:nth-of-type(21),
a:nth-of-type(22),
a:nth-of-type(23),
a:nth-of-type(24),
a:nth-of-type(25),
a:nth-of-type(26),
a:nth-of-type(27),
a:nth-of-type(28),
a:nth-of-type(29),
a:nth-of-type(30),
a:nth-of-type(31),
a:nth-of-type(32),
a:nth-of-type(33),
a:nth-of-type(34),
a:nth-of-type(35),
a:nth-of-type(36),
a:nth-of-type(37) {
    padding-left: 20px;
}

a:hover {
    color: #2D2D2D;
    background-color: #f2f2f2;
    ;
}

.nav-link {
    color: unset;
    text-decoration: none;
    display: block;
    padding-top: 10px;
}

h1 {
    color: black;
    font-size: 1.75rem;
}

h2 {
    margin: 0;
    color: black;
}

p {
    color: black;
}

pre {
    color: #CCCCCC;
    background-color: #2D2D2D;
    padding: 15px 10px;
    margin: 15px 0 85px 0;
    border-radius: 5px;
    overflow: scroll;
}

ul {
    padding-bottom: 35px;
}

#views-controls-header {
    padding-bottom: 10px;
}

#view-layout-header {
    padding-bottom: 10px;
}

.hash {
    color: #EC633E;
}

.swift-keyword {
    color: #6D6D84;
}

.swiftUI-keyword {
    color: #E58D5C;
}

.string {
    color: #8DC39B;
}

.other {
    color: #81CBCB;
}

.comment {
    color: #999999
}

@media (max-width: 650px) {
    #main {
        margin-left: 200px;
    }
}

@media (max-width: 550px) {
    #navbar {
        padding-left: 20px;
    }

    #main {
        padding-left: 20px;
        margin-left: 200px;
    }
}